{% extends "base_generic.html" %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h4><i class="bi bi-box-arrow-in-right"></i> Login</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100"><i class="bi bi-box-arrow-in-right"></i> Login</button>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
